@model NortwindMVC.Models.DTOs.Customer.CustomerDto

@{
  ViewBag.Title = "New Customer";
}

<!-- Begin Page Content -->
<div class="container-fluid pt-3">
  <!-- Page Heading -->
  <div
    class="d-sm-flex align-items-center justify-content-between mb-4"
  >
    <!-- Title -->
    <h1 class="h3 mb-0 text-gray-800">New Customer</h1>
  </div>

  <!-- CONTENT -->
  <div class="w-50 mx-auto">
    @if(TempData["Error"] != null){
      <div class="alert alert-danger">
        @TempData["Error"]
      </div>
    }
    
    <form asp-action="Add" asp-controller="Customer" method="POST">
      <input
        type="text"
        name="CompanyName"
        placeholder="Company Name"
        value="@Model?.CompanyName"
        class="form-control form-control-user"/>

      <br/>

      <input
        type="text"
        name="ContactName"
        placeholder="Contact Name"
        value="@Model?.ContactName"
        class="form-control form-control-user"/>

      <br/>

      <textarea
        name="Address"
        placeholder="Address"
        class="form-control form-control-user"
      >@Model?.Address</textarea>

      <br/>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary w-50">Save</button>
      </div>
    </form>
  </div>
</div>
<!-- /.container-fluid -->